.test-animate.ng-enter,
.test-animate.ng-leave,
.test-animate.ng-move {
  -webkit-transition: 0.5s linear all;
  -moz-transition: 0.5s linear all;
  -o-transition: 0.5s linear all;
  transition: 0.5s linear all;
}

.test-animate.ng-enter,
.test-animate.ng-move {
  opacity: 0;
  height: 0;
  overflow: hidden;
}

.test-animate.ng-move.ng-move-active,
.test-animate.ng-enter.ng-enter-active {
  opacity: 1;
  height: 120px;
}

.test-animate.ng-leave {
  opacity: 1;
  overflow: hidden;
}

.test-animate.ng-leave.ng-leave-active {
  opacity: 0;
  height: 0;
  padding-top: 0;
  padding-bottom: 0;
}
.fhtagn-item.ng-enter {
  opacity: 0;
  transition:all linear 0.5s;
}

.fhtagn-item.ng-enter-active {
  opacity: 1;
}
