/* Main styles */
html, body {
  margin: 0;
  padding: 0;
  color: $black;
  background-color: $light-green;
}

.content-area {
  background-color: $light-grey;
  width: 75%;
  margin: 0 auto;
  padding: 1em;
}

/* Elements */

.fhtagn-statement {
  padding: 1em;
}

.fhtagn-statement__speaker {

}

.fhtagn-response {
  padding: 1em;
}

.fhtagn-response__speaker {

}

.fhtagn-question {
  padding: 1em;
}
