/* Main styles */
html, body {
  margin: 0;
  padding: 0;
  color: $black;
  background-color: $light-green;
}

.content-area {
  background-color: $light-grey;
  width: 75%;
  margin: 1em auto;
  padding: 1em;
  border-right: 1px solid $shadow-grey;
  border-bottom: 1px solid $shadow-grey;
  border-radius: $border-radius;
}
