$red:  #A34043;
$dark-grey: #666659;
$black: #1C2B1B;
$cthulu-green: #338855;
$light-green: #8EB12A;
$yellow-green: #B5B210;
$blue: blue;
$wifi-grey: #848484;
$wifi-green: #569e26;
$wifi-red: #b52808;
$wifi-yellow: #efc411;
