$red:  #A34043;

$light-grey: #eeeed9;
$shadow-grey: #ccccb9;
$dark-grey: #666659;
$black: #1C2B1B;

$cthulu-green: #338855;
$light-green: #8EB12A;
$yellow-green: #B5B210;
$blue: blue;

$wifi-grey: #848484;
$wifi-green: #569e26;
$wifi-red: #b52808;
$wifi-yellow: #efc411;

$border-radius: 3px;

@mixin no-select() {
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
