<div ng-if="itemData.type == 'question_multiple'">
  <ol>
    <li ng-repeat="option in itemData.options">
      <div ng-if="option.selected">
       {{option.user}} :  {{option.text}}
      </div>
      <div ng-if="!option.selected">
        {{option.user}} :  <a ng-click="select($index)">{{option.text}}</a>
      </div>
    </li>
  </ol>
</div>

<div ng-if="itemData.type == 'question_text'">
    {{ itemData.text }}
    <form novalidate class="simple-form">
      <input type="text" ng-model="answer" /><br />
      <button ng-click="reset()">RESET</button>
      <button ng-click="select({'answer': answer})">SAVE</button>
    </form>
     You say:   {{ answer }}
</div>
